{% extends 'base.html' %}
{% block title %} LiODiN - About {% endblock %}
{% block styles %}
 <link rel="stylesheet" href="../static/css/about.css" />
{% endblock %}
{% block content %}
  <div class="page9-body">
    <div class="page9-results-container faqContainer">
      <div class="page9-results">
        <h1 class="page9-text">About LiODin</h1>
        <div class="page9-dict-container">
          <span class="page9-text1">
            <!-- <strong>Linked Open Dictionary Navigator</strong>:
            <br class="page9-text3" />
            <br /> -->
            <p>
              Linked Open Dictionary Navigator is a web application that allows users to load and browse
              <a style="text-decoration: underline;" target="_blank" href="https://en.wikipedia.org/wiki/OntoLex">OntoLex-lemon</a> dictionaries modelled in the Linked Data paradigm.</p><br/>
              <p>We support several dictionaries right now, but more importantly, users can specify their own endpoint and use it alongside all the dictionaries we included.</p><br/>
            </p>
            <p>
              This tool is the first universal user-friendly interface for the vast ocean of both retrodigitised converted dictionaries and RDF-first dictionaries of different types.
            </p>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}