{% extends 'base.html' %}
{% block title %} LiODiN - About {% endblock %}
{% block styles %}
 <link rel="stylesheet" href="../static/css/about.css" />
{% endblock %}
{% block content %}
  <div class="page9-body">
    <div class="page9-results-container faqContainer">
      <div class="page9-results">
        <h1 class="page9-text">About LiODin</h1>
        <div class="page9-dict-container">
          <span class="page9-text1">
            <span>Linked Open Dictionary Navigator</span>
            <br class="page9-text3" />
            <br />
            <span>
              A web interface that allows users to load and browse
              OntoLex-lemon dictionaries.
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}