{% extends 'base.html' %}
{% block title %} LiODiN - Main {% endblock %}
{% block styles %}
  <link href="../static/css/data.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="page2-body">
    <div class="page2-results-container faqContainer">
      <div class="page2-results">
        <h1 class="page2-text">Data</h1>
        <div class="page2-dict-container">
          <div class="page2-dict-meta"><h1>acoli-dict</h1></div>
          <div class="page2-search-result">
            <div class="page2-dict-entry">
              <ul class="list">
                <li class="list-item"><span>Author</span></li>
                <li class="list-item"><span>Editor</span></li>
                <li class="list-item"><span>Publishing house</span></li>
                <li class="list-item">
                  <span>Year of publication</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}