{% extends 'base.html' %}
{% block title %} LiODiN - Guidlines {% endblock %}
{% block styles %}
  <link href="../static/css/guidelines.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="page7-body">
    <div class="page7-results-container faqContainer">
      <div class="page7-results">
        <h1 class="page7-text">How to use LiODin</h1>
        <div class="page7-dict-container">
          <div class="page7-dict-meta">
            <span class="page7-text1">Text</span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
