{% extends 'base.html' %}
{% block title %} LiODiN - Guidlines {% endblock %}
{% block styles %}
  <link href="../static/css/guidelines.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="page7-body">
    <div class="page7-results-container faqContainer">
      <div class="page7-results">
        <h1 class="page7-text">How to use LiODin</h1>
        <div class="page7-dict-container">
          <div class="page7-dict-meta">
            <span class="page7-text1">You can search by regular expressions. Here are some basic query examples:
              <br />
                <ul>
                  <li>cat.* — to find all the words that start with "cat" </li>
                  <li>.*cat — to find all the words that end with "cat"</li>
                  <li>.*cat.* — to find all the words that that have "cat" in the middle</li>
                </ul>
                <br />
              You can also use other regular expressions, information on how to compose them can be found at <a href="https://en.wikipedia.org/wiki/Regular_expression#Syntax">the following link</a>.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
