{% extends 'base.html' %}
{% block title %} LiODiN - Main {% endblock %}
{% block styles %}
  <link href="../static/css/main.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="main-search">
    <form id="searchForm" class="main-form" onsubmit="disableEmptyInputs(this)" action="/search" method="get">
      <div class="main-container1">
        <input type="text" name="w" placeholder="search" class="main-textinput input" required/>
        <button type="submit">
          <svg viewBox="0 0 950.8571428571428 1024" class="main-icon2">
            <path
              d="M658.286 475.429c0-141.143-114.857-256-256-256s-256 114.857-256 256 114.857 256 256 256 256-114.857 256-256zM950.857 950.857c0 40-33.143 73.143-73.143 73.143-19.429 0-38.286-8-51.429-21.714l-196-195.429c-66.857 46.286-146.857 70.857-228 70.857-222.286 0-402.286-180-402.286-402.286s180-402.286 402.286-402.286 402.286 180 402.286 402.286c0 81.143-24.571 161.143-70.857 228l196 196c13.143 13.143 21.143 32 21.143 51.429z"
            ></path>
          </svg>
        </button>
      </div>
      <div class="main-container2">
        <div class="main-container3">
          <h1 class="main-text">Filters</h1>
        </div>
        <div class="main-container4">
          <div data-thq="thq-dropdown" class="main-thq-dropdown list-item">
            <div data-thq="thq-dropdown-toggle" class="main-dropdown-toggle">
              <span class="main-text1">Dictionaries</span>
              <div data-thq="thq-dropdown-arrow" class="main-dropdown-arrow">
                <svg viewBox="0 0 1024 1024" class="main-icon4">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="main-dropdown-list">
              {% for d in dicts %}
              <li data-thq="thq-dropdown" class="main-dropdown list-item">
                <div data-thq="thq-dropdown-toggle" class="main-dropdown-toggle1">
                  <input type="checkbox" id="res-lang-option1" name="d" value="{{ d }}">
                  <label for="res-lang-option1">{{ d }}</label>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
          <input
            type="text"
            placeholder="Entry language"
            name="entry_lang"
            class="main-textinput1 input"
            list="languages"
          />
          <input
            type="text"
            placeholder="Result language"
            name="res_lang"
            class="main-textinput2 input"
            list="languages"
          />
          <datalist id="languages">
            {% for l in langs %}
              <option value="{{ l }}">{{ l }}</option>
            {% endfor %}
          </datalist>
          <input
            type="text"
            placeholder="Endpoints"
            name="endpoints"
            class="main-textinput3 input"
          />
        </div>
      </div>
    </form>
  </div>
{% endblock %}