{% extends 'base.html' %}
{% block title %} LiODiN - Results {% endblock %}
{% block styles %}
  <link href="../static/css/results2.css" rel="stylesheet" />
{% endblock %}
{% block content %}
  <div class="page5-body">
          <div class="page5-results-container faqContainer">
            <div class="page5-results">
              <h1 class="page5-text">Search results</h1>
              {% for dict in search_results %}
              <div class="page5-dict-container">
                <div class="page5-dict-meta"><h1>{{ dict.dict_name }}</h1></div>
                <div class="page5-search-result">
                  {% if dict.dict_entries %}
                  {% for entry in dict.dict_entries %}
                    {% for lang, transl in entry.translations.items() %}
                      <div class="page5-dict-entry">
                        <h3 class="page5-heading">{{ entry.lexical_entry.lang }} -&gt; {{ lang }}</h3>
                        <h1 class="page5-text02">{{ entry.lexical_entry.text }}</h1>
                        <ol class="list">
                          {% for tr in transl %}
                          <li class="list-item"><span>{{ tr }}</span></li>
                          {% endfor %}
                        </ol>
                      </div>
                    {% endfor %}
                  {% endfor %}
                  {% else %}
                  <span style="padding-left: var(--dl-space-space-unit); font-style: italic">
                    Nothing was found or there was an error
                  </span>
                  {% endif %}
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
{% endblock %}