<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }
      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
</head>
<body>
    <div>
      <link href="../static/css/search.css" rel="stylesheet" />
      <div class="search-container">
        <div class="search-container1">
          <h1>Search</h1>
          <form class="search-form" action="/search">
            {% if word %}
              <input
                type="text"
                class="search-textinput input"
                name="w"
                value="{{ word }}"
              />
            {% else %}
              <input
                type="text"
                placeholder="enter word"
                class="search-textinput input"
                name="w"
              />
            {% endif %}
            <button type="submit" class="search-button button">Search</button>
          </form>
        </div>
        {% if word %}
        <div class="search-container2"><span>some result for "{{ word }}"</span></div>
        {% endif %}
      </div>
    </div>

</body>
</html>