{% extends 'base.html' %}
{% block title %} LiODiN - Team {% endblock %}
{% block styles %}
  <link href="../static/css/team.css" rel="stylesheet" />
{% endblock %}
{% block content %}
        <div class="page8-body">
          <div class="page8-results-container faqContainer">
            <div class="page8-results">
              <h1 class="page8-text">Team</h1>
              <div class="page8-dict-container">
                  <span>Maxim Ionov</span><br/><br/>
                  <span>Eva Avetyan</span><br/><br/>
                  <span>Anna Biserova</span><br/><br/>
                  <span>Anna Golovina</span><br/><br/>
                  <span>Victoria Knyazkova</span><br/><br/>
                  <span>Daria Kozlovskaia</span><br/><br/>
                  <span>Ira Orlova</span><br/><br/>
                  <span>Maria Suvorova</span>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
