{% extends 'base.html' %}
{% block title %} LiODiN - Team {% endblock %}
{% block styles %}
  <link href="../static/css/team.css" rel="stylesheet" />
{% endblock %}
{% block content %}
        <div class="page8-body">
          <div class="page8-results-container faqContainer">
            <div class="page8-results">
              <h1 class="page8-text">Team</h1>
              <div class="page8-dict-container">
                <span class="page8-text1">
                  <p>Maxim Ionov — the project manager</p><br/>
                  <p>Eva Avetyan — designing of website pages</p><br/>
                  <p>Anna Biserova — designing of website pages</p><br/>
                  <p>Anna Golovina — refinement of dictionary models, creation of a template for SPARQL query results</p><br/>
                  <p>Victoria Knyazkova —  backend: Flask/FastAPI, adding templates and executing SPARQL queries</p><br/>
                  <p>Daria Kozlovskaia — designing and programming of website pages</p><br/>
                  <p>Ira Orlova — SPARQL queries</p><br/>
                  <p>Maria Suvorova — working with HTML files and creating Jinja-templates</p>
                </span>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
