{% extends 'base.html' %}
{% block title %} LiODiN - Team {% endblock %}
{% block styles %}
  <link href="../static/css/team.css" rel="stylesheet" />
{% endblock %}
{% block content %}
        <div class="page8-body">
          <div class="page8-results-container faqContainer">
            <div class="page8-results">
              <h1 class="page8-text">Team</h1>
              <div class="page8-dict-container">
                  <span>Maxim Ionov — the project manager</span><br/><br/>
                  <span>Eva Avetyan — designing of website pages</span><br/><br/>
                  <span>Anna Biserova — designing of website pages</span><br/><br/>
                  <span>Anna Golovina — refinement of dictionary models, creation of a template for SPARQL query results</span><br/><br/>
                  <span>Victoria Knyazkova — Flask/FastAPI, adding templates and executing SPARQL queries</span><br/><br/>
                  <span>Daria Kozlovskaia — designing and programming of website pages</span><br/><br/>
                  <span>Ira Orlova — SPARQL queries</span><br/><br/>
                  <span>Maria Suvorova — working with HTML files of website pages and creating Jinja-templates</span>
              </div>
            </div>
          </div>
        </div>
{% endblock %}
