.page9-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page9-logo {
  width: var(--dl-size-size-large);
  font-size: 2em;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  text-decoration: none;
}
.page9-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page9-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page9-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page9-nav221 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page9-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page9-nav321 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page9-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page9-burger-menu {
  display: none;
}
.page9-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page9-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.page9-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page9-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page9-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page9-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page9-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page9-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.page9-nav222 {
  margin-bottom: var(--dl-space-space-unit);
}
.page9-nav322 {
  margin-bottom: var(--dl-space-space-unit);
}
.page9-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.page9-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page9-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page9-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page9-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page9-body {
  flex: 1;
  width: 100%;
  height: 910px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page9-results-container {
  flex: 1;
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.page9-results {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.page9-text {
  align-self: flex-start;
}
.page9-dict-container {
  flex: 0;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page9-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500
}
.page9-text3 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
@media(max-width: 767px) {
  .page9-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page9-desktop-menu {
    display: none;
  }
  .page9-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page9-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page9-nav222 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page9-nav322 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page9-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page9-results {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .page9-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page9-mobile-menu1 {
    padding: 16px;
  }
}
