.page2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.page2-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.page2-logo {
  width: var(--dl-size-size-large);
  font-size: 2em;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  text-decoration: none;
}
.page2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.page2-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.page2-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page2-nav221 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page2-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page2-nav321 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page2-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.page2-burger-menu {
  display: none;
}
.page2-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page2-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.page2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.page2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.page2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2-icon02 {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.page2-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.page2-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.page2-nav222 {
  margin-bottom: var(--dl-space-space-unit);
}
.page2-nav322 {
  margin-bottom: var(--dl-space-space-unit);
}
.page2-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.page2-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.page2-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page2-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.page2-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.page2-info {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page2-info-container {
  height: 849px;
  align-items: center;
  justify-content: center;
}
.page2-guidelines {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 661px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.page2-container1 {
  width: 100%;
  height: 537px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page2-container2 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 165px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.page2-text02 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 130px;
  position: absolute;
  font-size: 20px;
}
@media(max-width: 767px) {
  .page2-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .page2-desktop-menu {
    display: none;
  }
  .page2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .page2-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page2-nav222 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page2-nav322 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page2-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .page2-guidelines {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .page2-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .page2-mobile-menu1 {
    padding: 16px;
  }
}
