.main-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.main-logo {
  width: var(--dl-size-size-large);
  font-size: 2em;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
  line-height: 150%;
  text-transform: capitalize;
  text-decoration: none;
}
.main-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.main-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.main-nav22 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-nav221 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-nav32 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-nav321 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-nav42 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.main-burger-menu {
  display: none;
}
.main-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.main-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.main-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.main-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-icon {
  width: var(--dl-size-size-xsmall);
  cursor: pointer;
  height: var(--dl-size-size-xsmall);
}
.main-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.main-nav12 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-nav222 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-nav322 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-nav421 {
  margin-bottom: var(--dl-space-space-unit);
}
.main-buttons {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.main-search {
  flex: 1;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.main-form {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container1 {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.main-textinput {
  width: 900px;
  height: 47px;
  font-size: 20px;
  align-self: center;
  text-align: left;
  font-family: "Inter";
  margin-right: var(--dl-space-space-unit);
  text-transform: capitalize;
  background-color: var(--dl-color-custom-secondary1);
}
.main-icon2 {
  width: 35px;
  height: 35px;
  align-self: center;
}
.main-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: 250px;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.main-container3 {
  width: 100%;
  height: auto;
  display: flex;
  align-self: center;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.main-text {
  align-self: center;
}
.main-container4 {
  width: 100%;
  height: 205px;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.main-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  align-self: flex-start;
  border-radius: var(--dl-radius-radius-radius2);
}
.main-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.main-text1 {
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.main-dropdown-arrow {
  transition: 0.3s;
}
.main-icon4 {
  width: 18px;
  height: 18px;
  transition: 0.3s;
}
.main-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.main-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.main-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.main-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.main-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.main-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.main-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.main-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.main-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.main-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.main-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.main-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.main-text4 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.main-textinput1 {
  color: var(--dl-color-gray-black);
  width: 171px;
  font-size: 20px;
  align-self: flex-start;
  background-color: var(--dl-color-custom-secondary1);
}
.main-textinput2 {
  color: var(--dl-color-gray-black);
  width: 171px;
  font-size: 20px;
  align-self: flex-start;
  background-color: var(--dl-color-custom-secondary1);
}
.main-textinput3 {
  color: var(--dl-color-gray-black);
  width: 171px;
  font-size: 20px;
  align-self: flex-start;
  background-color: var(--dl-color-custom-secondary1);
}
@media(max-width: 767px) {
  .main-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .main-desktop-menu {
    display: none;
  }
  .main-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-nav12 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-nav222 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-nav322 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .main-nav421 {
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .main-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .main-mobile-menu1 {
    padding: 16px;
  }
  .main-form {
    flex: 1;
    width: 100%;
  }
  .main-container1 {
    flex: 0;
    width: 100%;
  }
  .main-container2 {
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }
  .main-text {
    position: static;
    text-align: center;
  }
  .main-container4 {
    position: static;
    flex-wrap: wrap;
    align-self: center;
  }
}
